{% extends "layout.html" %} {% block body %}

<p>Hello World!</p>
{% for user in leaderboard %}
<p>{{ user.rank }}. {{ user.username }} - {{ user.questions }}</p>
{% endfor %}

<p>{{ questions }}</p>
<form action="/add" method="post">
  <input type="number" name="add" placeholder="Add" />
  <button type="submit">Add</button>
</form>

<form action="/subtract" method="post">
  <input type="number" name="subtract" placeholder="Subtract" />
  <button type="submit">Subtract</button>
</form>

{% endblock %}
