{% extends "layout.html" %} {% block body %}

<section class="gradient-form h-full bg-neutral-200 dark:bg-neutral-700">
    <div class="relative flex flex-col justify-center h-screen overflow-hidden">
      <div
        class="w-full p-6 m-auto dark:bg-gray-900 bg-white rounded-md shadow-md ring-2 ring-gray-800/50 lg:max-w-lg"
      >
        <h1 class="text-3xl font-semibold text-center text-gray-700">
          QuestionContest
        </h1>
        <form class="space-y-4" action="/register" method="post">
          <div>
            <label class="label">
              <span class="text-base label-text">Username</span>
            </label>
            <input
              type="text"
              class="w-full input input-bordered"
              autocomplete="off"
              autofocus
              id="username"
              name="username"
              placeholder="Username"
            />
          </div>
          <div>
            <label class="label">
              <span class="text-base label-text">Password</span>
            </label>
            <input
              type="password"
              class="w-full input input-bordered"
              id="password"
              name="password"
              placeholder="Password"
            />
          </div>
          <div>
            <label class="label">
              <span class="text-base label-text">Confirm Password</span>
            </label>
            <input
              type="password"
              class="w-full input input-bordered"
              id="password"
              name="confirmation"
              placeholder="Confirm Password"
            />
          </div>
          <div>
            <button
              class="mb-3 inline-block w-full rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]"
              type="submit"
              data-te-ripple-init
              data-te-ripple-color="light"
              style="
                background: linear-gradient(
                  to right,
                  #ee7724,
                  #d8363a,
                  #dd3675,
                  #b44593
                );
              "
            >
              Create Account
            </button>
          </div>
        </form>
        <p>Already have an account? <a class="underline" href="/login" style="
            color: linear-gradient(
              to right,
              #ee7724,
              #d8363a,
              #dd3675,
              #b44593
            );
          ">Log In</a></p>
      </div>
    </div>
  </section>
{% endblock %}